.bg {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.row1 .orb1, .row1 .orb2 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin-top: -280px;
    margin-left: -30px;
}
.row1 .orb2 {
	margin-top: -280px;
	margin-left: 500px;
}
.row1 div,
.row2 div,
.row3 div {
    background: -webkit-linear-gradient(top, #fff, #dedede);/* 渐变  起始位置 起始颜色 结束颜色*/
    border-radius: 50%;
}